/*okay then*/


.asciiesque{
background-color: black;
color:white;
}

.dogtail:before{
    content:'';
    animation:dogtailwave infinite 2s;
}

@keyframes jareddance {
    0%{
        content:'/`\005C';
    }

    33%{
        content: ' /`\005C';
    }

    66%{
        content: '\005C`\005C';
    }

    100%{content:' \005C\005C   \002F  \005C   //'}



/*


 /`/
 
 /`\

 \`\


*
