/*okay then*/


.asciiesque{
background-color: black;
color:white;
background-color:black;

    color:white;
    font-size:12;
    margin-top:10%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:10%;
}

.moonimagepos{
    margin-top:100px;
    margin-left:450px;
}



/*


 /`/
 
 /`\

 \`\


*
